body {
    margin: 0px;
    font-family: monospace;
    background-color: var(--body-bg);
}

:root {
    --body-bg: #f2f8f6
}

.header {
    background-color: #75C3FA;
    padding: 1%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.header::after {
    --curve-color: var(--body-bg);
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background: var(--curve-color);
    
    bottom: 0;
    left: 0;
    right: 0;

    -webkit-mask-image: url('images/semi_circle.svg');
    -webkit-mask-size: 60px 30px;

    mask-image: url('images/semi_circle.svg');
    mask-size: 60px 30px;
    
}

.header h1 {
    text-align: center;
    font-size: 2.5rem;
}

.header button {
    font-family: monospace;
    background-color: #f2f8f6;
    border: 2px solid #2d35c8;
    padding: 10px;
    border-radius: 10px;
    min-height: 30px;
    min-width: 120px;
}

.header button:hover {
    background-color: #16df9c;
    transition: 0.7s;
}

.week-layout-wrapper {
    position: relative;
    width: min(90%, 75rem);
    margin: 5rem auto 0 auto;
}

.week-layout {
    position: relative;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr repeat(6, 1fr);
    gap: 1em;

    background-color: #2d35c8;
    padding: 1rem;

    overflow-x: auto;
    overflow-y: hidden;
}

.week-layout-fade-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to left, #2d35c8 100%, transparent 100%);
}

.week-layout-fade-right {
    position: absolute;
    top: 0;
    right: -2rem;
    width: 1em;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to left, #2d35c8 100%, transparent 100%);
}

.day {
    min-height: 20rem;

    display: grid;
    height: 100%;
    grid-template-rows: 0.3fr 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
    background-color: #f2f8f6;
    list-style-type: none;
}

.date {
    grid-column: span 2;
    text-align: center;
}

.weather {
    grid-column: span 2;
    text-align: center;
}

.temp {
    text-align: center;
    padding: 1em;
}

.weather img {
    max-width: 100%;
}