/* Overall page layout defined here */
body {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
    background-color: var(--body-bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* This is where the main background colour is defined */
:root {
    --body-bg: #f2f8f6
}

/* colour layout and position of header */
.header {
    background-color: #75C3FA;
    padding: 1%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
/* clipping mask for the header (the thing that makes the body of the webpage below
 look bumpy like a cloud where it meets the header) */
.header::after {
    --curve-color: var(--body-bg);
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background: var(--curve-color);
    
    bottom: 0;
    left: 0;
    right: 0;

    -webkit-mask-image: url('images/semi_circle.svg');
    -webkit-mask-size: 60px 30px;

    mask-image: url('images/semi_circle.svg');
    mask-size: 60px 30px;
    
}

/* Styling for webpage title */
.header h1 {
    text-align: center;
    font-size: 2.5rem;
}

.dropdown button {
    font-family: monospace;
    background-color: #f2f8f6;
    padding: 10px;
    min-height: 30px;
    min-width: 120px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
    min-height: 30px;
    min-width: 120px;
}

.content {
    z-index: 1;
    display: none;
    position: absolute;
    background-color: #DDDADF;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover {
    background-color: #16df9c;
}

.dropdown a:hover {
    background-color: #16df9c;
}
/* Styling for the 'about' button */
.about-home-button button {
    font-family: monospace;
    background-color: #f2f8f6;
    border: 2px solid #2d35c8;
    padding: 10px;
    border-radius: 10px;
    min-height: 30px;
    min-width: 120px;
    cursor: pointer;
}

/* make the 'about' button change color on mouse hover */
.about-home-button button:hover {
    background-color: #16df9c;
    transition: 0.7s;
}

/* wrap the week layout, 
this helps for the css below that stops our days spilling 
outside the purple border they live in 
(note: the 'purple border' is actually just the background 
color of the week-layout div) */
.week-layout-wrapper {
    position: relative;
    width: min(90%, 75rem);
    margin: 5rem auto 5rem auto;
}

/* lays out the days in a nice grid, 
today's forecast is larger than the rest if the view port is large enough */
.week-layout {
    position: relative;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr repeat(6, 1fr);
    gap: 1em;

    background-color: #2d35c8;
    padding: 1rem;

    overflow-x: auto;
    overflow-y: hidden;
}

/* This puts a purple bar over the left edge of the week layout div, 
it stops everything looking messy when you scroll left to right */
.week-layout-fade-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to left, #2d35c8 100%, transparent 100%);
}

/* Same as above but for the right side of week-layout */
.week-layout-fade-right {
    position: absolute;
    top: 0;
    right: -2rem;
    width: 1em;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to left, #2d35c8 100%, transparent 100%);
}

/* Styling for an individual day inside the way layout 
each day element is also a grid! */
.day {
    min-height: 20rem;

    display: grid;
    height: 100%;
    grid-template-rows: 0.3fr 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
    background-color: #f2f8f6;
    list-style-type: none;
}

/* everything below affects how the data for each day 
is displayed in the grid layout */
.date {
    grid-column: span 2;
    text-align: center;
}

.weather {
    grid-column: span 2;
    text-align: center;
}

.temp {
    text-align: center;
    padding: 1em;
}

.weather img {
    max-width: 100%;
}

/* Contains the footer so we can put another cloud shaped clipping mask on it */
.footer-container {
    margin-top: auto;
    position: relative;
    padding-top: 2rem;
    background-color: #DDDADF;
}

/* This applies another clipping mask to the footer to create a bumpy cloud shaped border 
(note: the svg file here is for the negative space around the bump and 
is the same color as the background) */
.footer-container::before {
    --curve-color: var(--body-bg);
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background: var(--curve-color);
    
    top: 0;
    left: 0;
    right: 0;

    -webkit-mask-image: url('images/negative-space-semi-circle.svg');
    -webkit-mask-size: 60px 30px;

    mask-image: url('images/negative-space-semi-circle.svg');
    mask-size: 60px 30px;
    
}

/* styling for footer */
.footer {
    width: 80%;
    height: 10vh;

    background-color: #DDDADF;

    display: flex;
    gap: 3rem;
    align-items: center;
    margin: 0 auto;

    position: relative;
}