<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <div class="header">
        <h1>About</h1>
    </div>

    <div class="main-content">
        <p>
            My name is Imogen, I’m a recent grad from the Makers Academy Bootcamp and It’s raining Cats and Dogs is one of my silly little personal projects. I was inspired to make it by my Mum who likes to check the weather forecast regularly and also loves cute things! When I was brainstorming ideas for my final bootcamp project she kept jokingly asking me if I was going to make her a cute little kitten app. Now that I’m graduated, I’ve decided to make that joke a reality while keeping my python skills sharp and learning new things at the same time.
        </p>
        <br>
        <p>
            The weather data this website uses comes from open-meteo, a free weather API that provides forecast data from all over the world. At the moment though the website is still in development which is why you can only view London weather. I have plans to update it soon so that weather from all over the UK can be viewed!
        </p>
        <br>
        <p>
            All the weather icons you can see were hand drawn by me using Procreate. I had lots of fun coming up with them and hope you enjoy! Another update that will come soon is the ability to toggle between dog and cat themed icons, so you can choose your favourite kind of pet (though I personally love both cats and dogs!).
        </p>
        <br>
        <p>
            I am currently looking for my first role in tech so if you’re looking for a creative and enthusiastic junior dev please don’t hesitate to reach out!
        </p>
    </div>

        <div class="footer-container">
        <div class="footer">
            <p>Weather Data from <a href="https://open-meteo.com" target="_blank" rel="noopener noreferrer">Open-Meteo</a></p>
            <p>Check out this project on <a href="https://github.com/I-Lovell/raining-cats-and-dogs" target="_blank" rel="noopener noreferrer">GitHub</a>!</p>
        </div>
    </div>
</body>
</html>