<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It's Raining Cats and Dogs!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="header">
    <h1>It's Raining Cats and Dogs!</h1>
</div>

    <div class="week-layout">
        {% for day in week %}
            <div>
                <li class="date">date: {{ day.time }}</li>
                <li class="weather_code"><img src="/static/images/example_icon.png" alt=""> {{ day.weather_code }} </li>
                <li class="temp">max temp: {{ day.max_temp }}</li>
                <li class="temp">min temp: {{ day.min_temp }}</li>
            </div>
        {% endfor %}
    </div>
</body>
</html>
