<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It's Raining Cats and Dogs!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="header">
    <h1>Its Raining Cats and Dogs!</h1>
    <a href="http://127.0.0.1:5001/about"><button type="button">About</button></a>
</div>

    <div class="week-layout-wrapper">
        <div class="week-layout">
            {% for day in week %}
                <div class="day">
                    <li class="date">{{ day.time }}</li>
                    <li class="weather"><img src= "{{ day.icon_path }}" alt= "{{ day.alt_text }}" > {{ day.weather_type }} </li>
                    <li class="temp">max temp: {{ day.max_temp }}</li>
                    <li class="temp">min temp: {{ day.min_temp }}</li>
                </div>
            {% endfor %}
        </div>
        <div class="week-layout-fade-left"></div>
        <div class="week-layout-fade-right"></div>
    </div>

    <div class="footer-container">
        <div class="footer">
            <p>Weather Data from <a href="https://open-meteo.com" target="_blank" rel="noopener noreferrer">Open-Meteo</a></p>
            <p>Check out this project on <a href="https://github.com/I-Lovell/raining-cats-and-dogs" target="_blank" rel="noopener noreferrer">GitHub</a>!</p>
        </div>
    </div>
</body>
</html>
